@page
@model Indian_Navy.Pages.Employee_Data.UpdateModel
@{
}

<form method="post">
    <input hidden asp-for="employeeData.EmployeeId"/>
    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h2 class=" text-primary pl-3">Edit Employee List</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="employeeData.EmployeeName"></label> 
            <input asp-for="employeeData.EmployeeName" class="form-control" required placeholder="Enter Employee Name" />
            <span asp-validation-for="employeeData.EmployeeName" class ="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="employeeData.EmployeeAge"></label>
            <input asp-for="employeeData.EmployeeAge" class="form-control" required placeholder="Enter Employee Age" />
            <span asp-validation-for="employeeData.EmployeeAge" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="employeeData.NativeLocation"></label>
            <input asp-for="employeeData.NativeLocation" class="form-control" required placeholder="Enter Employee Native Location" />
            <span asp-validation-for="employeeData.NativeLocation" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="employeeData.DateOfJoining"></label>
            <input type="date" class="form-control form-control-lg"/>
            <span asp-validation-for="employeeData.DateOfJoining" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="Employee_Data.Read" class=" btn btn-secondary" style=" width:150px;">Back To List</a>
    </div>
</form> 

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
     }
}
